# --- DATABASE CONFIG ---
MONGODB_USER=admin
MONGODB_PASSWORD=password123
MONGODB_DATABASE=promptlib
MONGODB_LOCAL_PORT=27018
DATABASE_HOST=mongodb

# --- BACKEND CONFIG ---
API_PORT=3000 
FRONTEND_URL=http://localhost:3001

# --- FRONTEND CONFIG ---
PORT=3001
NEXT_PUBLIC_API_URL=http://localhost:3000
NODE_ENV=production
